.top {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.396px;
  color: #2d2d2d;
}
.green {
  color: #7ab259;
}


.divCenter{
  margin-left: 45%;
}