input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
  margin: 10px;
}
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 10px;
}

.btnEdit {
  background: #111430;
  border-radius: 5px;
  display: block;
  padding: 6px 25px;
  margin-top: 20px;
  color: white;
}
