.form-container input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btnStyleSection {
  background: #111430;
  border-radius: 5px;
  color: white;
  padding: 5px 25px;
}
