.footerBg {
  background-color: #fbd062;
  margin-top: 100px;
}

.footerP {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;

  letter-spacing: 0.396px;

  color: #2d2d2d;
}

.footerPtow {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.396px;

  color: rgba(0, 0, 0, 0.7);
}
